@page
@model xmlproject.Pages.ListModel
@{
    List<DisplayTable> displayTables = (List<DisplayTable>)ViewData["DisplayTable"];

}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Phone</th>
            <th>License Status</th>
            <th>Inspection Type</th>
            <th>Action Date</th>
            <th>Violation Description</th>
            <th>Ratings (/5)</th>
            <th>No. of Reviews</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DisplayTable displayTable in displayTables)
        {
            <tr>
                <td>@displayTable.Name</td>
                <td>@displayTable.Address</td>
                <td>@displayTable.PostalCode</td>
                <td>@displayTable.PhoneNumber</td>
                <td>@displayTable.LicenseStatus</td>
                <td>@displayTable.InspType</td>
                <td>@displayTable.ActionDate</td>
                <td>@displayTable.ViolationDesc</td>
                <td>@displayTable.Reviews</td>
                <td>@displayTable.NoOfReviews</td>
            </tr>
        }
    </tbody>
</table>

                <script>
    $(document).ready(function () {
        // Add click event handler to table headers
        $('th').click(function () {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr:gt(0)').toArray().sort(compare($(this).index()));
 
            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
 
            for (var i = 0; i < rows.length; i++) {
                table.append(rows[i]);
            }
        });
 
        // Function to compare values for sorting
        function compare(index) {
            return function (a, b) {
                var valA = getCellValue(a, index);
                var valB = getCellValue(b, index);
 
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
            };
        }
 
        // Function to get cell value for sorting
        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    });
</script>