@page
@model xmlproject.Pages.ListModel
@{
    List<DisplayTable> displayTables = (List<DisplayTable>)ViewData["DisplayTable"];

}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label for="nameSearch">Search by Name:</label>
            <input type="text" id="nameSearch" class="form-control" placeholder="Enter name">
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" id="sortableTable">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Phone</th>
            <th>License Status</th>
            <th>Inspection Type</th>
            <th>Action Date</th>
            <th>Violation Description</th>
            <th>Reviews (Out of 5)</th>
            <th>No. of Reviews</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DisplayTable displayTable in displayTables)
        {
            <tr>
                <td>@displayTable.Name</td>
                <td>@displayTable.Address</td>
                <td>@displayTable.PostalCode</td>
                <td>@displayTable.PhoneNumber</td>
                <td>@displayTable.LicenseStatus</td>
                <td>@displayTable.InspType</td>
                <td>@displayTable.ActionDate</td>
                <td>@displayTable.ViolationDesc</td>
                <td>@displayTable.Reviews</td>
                <td>@displayTable.NoOfReviews</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var table = $('#sortableTable').DataTable();

        $('#nameSearch').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>